<div ng-controller="MessageController" id="tt-messenger" ng-cloak>
  <alert type="{{alertType}}" ng-show="userMessage" close="close()">
    <strong ng-show="title">{{title}}&nbsp;</strong>
    {{userMessage}}
  </alert>
</div>

<div id="tt-main-container" ng-cloak ng-controller="LayoutController">
  <div class="{{bgImg}}">
  	<div id="tt-menu">
  		<div class="menuDisplay">
				<span class="footerLink reservationYellow" ng-click="showChampionship(league.id)" ng-repeat="league in leagues" track by $index>{{league.league}}</span>
				<span ng-show="accessAccount" class="footerLink reservationYellow" ng-click="showAccount()">My Account</span>
				<span ng-show='showLogout' class="footerLink reservationYellow" ng-click="logOut()">Log Out</span>
				<span class="footerLink reservationYellow" ng-click="welcome()">How it Works</span>
				<span class="footerLink reservationYellow" ng-click="contact()">Contact Us</span>
				<span ng-show='!showLogout && !accessAccount' class="footerLink reservationYellow" ng-click="logIn()">Log In</span>
				<iframe 
					src="
						//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F1ticketstycoon&amp;
						width&amp;
						layout=button_count&amp;
						action=like&amp;
						show_faces=true&amp;
						share=true&amp;
						height=21&amp;
						appId=310913685599001
					"
					scrolling="no"
					frameborder="0"
					style="
						top: 4px;
						border: none; 
						overflow: hidden; 
						height: 21px;
						position: relative;
						width: 130px;
					"
					allowTransparency="true"
				>
				</iframe>
			</div>
  	</div>
    <div id="tt-main" ng-view>
  	</div>
  	<div id="tt-siteNav">
  		<div class="row">
  			<div class="col-md-12">
  				<div class="row">
  					<div class="col-md-3 col-md-offset-2">
  						<div class="row">
								<div class="col-md-12">
		  						<span class="siteNavHead reservationYellow" ng-click="home()">
  									Tickets Tycoon, Inc.
  								</span>
  							</div>
  						</div>
  						<div class="row">
		  					<div class="col-md-12">
  								<span class="siteNavSubHead reservationYellow" ng-click="home()">
  									Taking You to the Championship!
  								</span>
		  					</div>
  						</div>
						</div>
  					<div class="col-md-2">
  						<div class="row">
								<div 
									style="text-align: left; cursor: pointer;"
									title="CLICK TO VERIFY: This site uses a GlobalSign SSL Certificate to secure your personal information."
								>
									<span 
										id="ss_img_wrapper_gmogs_image_125-50_en_black"
									>
										<a 
											href="https://www.globalsign.com/" 
											target=_blank 
											title="GlobalSign Site Seal" 
											rel="nofollow"
										>
											<img 
												alt="SSL" 
												border=0 
												id="ss_img" 
												src="//seal.globalsign.com/SiteSeal/images/gs_noscript_125-50_en.gif"
											>
										</a>
									</span>
									<script 
										type="text/javascript" 
										src="//seal.globalsign.com/SiteSeal/gmogs_image_125-50_en_black.js"
									>
									</script>
								</div>
							</div>
						</div>
  					<div class="col-md-2">
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="about()">
  									About Us
  								</span>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="faq()">
  									FAQ
  								</span>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="disclosure()">
  									Legal Disclosure
  								</span>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="tos()">
  									Privacy Policy
  								</span>
  							</div>
  						</div>
						</div>
  					<div class="col-md-2">
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="contact()">
  									Contact Us
  								</span>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="welcome()">
  									How it Works
  								</span>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="story()">
  									Our Story
  								</span>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-md-12">
  								<span class="siteNavBasic reservationYellow" ng-click="tos()">
  									Terms of Service
  								</span>
  							</div>
  						</div>
						</div>
					</div>
  			</div>
  		</div>
  	</div>
  	<div id="tt-footer">
  		<span class="copyright">
  			© 2014-2016, Tickets Tycoon, Inc.
  		</span>
  	</div>
  </div>
</div>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

