<ul id="fms-modules-grid" ng-cloak>
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-6 col-md-offset-3 contentGreyBg">
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Tickets Tycoon, Inc.
						</span>
					</div>
					<div class="row" id="aboutStoryBody" manage-height>
						<span class="aboutBasic">
							Taking You to the Championship!
						</span>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>
