		<div class="row no-margin">
			<h4>Basic Account Information Required Before Making a Reservation</h4>
		</div>
			<div class="row">
				<div class="col-md-4">
					<span>First Name*</span>
				</div>
				<div class="col-md-8">
					<input name="fName"
						class="form-control" ng-model="customer.fName"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>Last Name*</span>
				</div>
				<div class="col-md-8">
					<input name="lName"
						class="form-control" ng-model="customer.lName"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>Phone*</span>
				</div>
				<div class="col-md-8">
					<input name="phone"
						class="form-control" ng-model="customer.phone"
					>
				</div>
			</div>
			<br/>
