<div class="modal-header">
  <h3 class="modal-title" id="nav-away-modal-title">
		Add a reservation for <strong>{{entityName}}</strong>
  </h3>
</div>
<div id="completedOrderError" ng-show="orderCompleted">
	<span class="errorBig">You have already completed this order.</span>
</div>
<div class="modal-body">
	<form name="addItemForm">
		<div class="row">
			<div class="col-md-6">
				Reservations:
			</div>
			<div class="col-md-6" style="text-align: right;">
				<b>{{quantity}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				Cost:
			</div>
			<div class="col-md-6" style="text-align: right;">
				<b>{{total}}</b>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12">
				<input type="checkbox" ng-model="agree">
				<span ng-click="showTerms()" style="color: blue; top: -2px; position: relative; text-decoration: none; cursor: pointer">I have read and agree to the Terms and Conditions</a>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-left" ng-click="closeReservation()">
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
	<button type="button" class="btn btn-success pull-right" ng-click="addThisReservation()" ng-disabled="!agree">
    <i class="fa fa-plus"></i> &nbsp; Reserve Now
  </button>
</div>
