<div class="col-md-12">
	<div class="row" id="championshipViewMain">
		<div class="col-md-12">
			<div class="row" id="championshipViewHead">
				<h1>Watch Your Team Play for the Championship!</h1>
			</div>
			<div class="row" id="championshipViewBody">
				<div class="col-md-12">
					<div class="row" ng-repeat="pool in poolData">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<h3>{{pool.name}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<span class="text-muted">{{championship.date}}</span>
								</div>
								<div class="col-md-4">
									<span class="text-muted">{{championship.location}}</span>
								</div>
							</div>
							<br/>
							<hr>
							<br/>
							<div class="row">
								<div class="col-md-2">
									<span class="text-muted">Team</span>
								</div>
								<div class="col-md-1 col-md-offset-1">
									<p class="text-right">
										<span class="text-muted">1 Ticket</span>
									</p>
								</div>
								<div class="col-md-1 col-md-offset-1">
									<p class="text-right">
										<span class="text-muted">2 Tickets</span>
									</p>
								</div>
								<div class="col-md-1 col-md-offset-1">
									<p class="text-right">
										<span class="text-muted">4 Tickets</span>
									</p>
								</div>
								<div class="col-md-2 col-md-offset-1">
									<p class="text-center">
										<span class="text-muted">Reserve!</span>
									</p>
								</div>
							</div>
							<br/>
							<div class="row" ng-repeat="entity in pool.entities">
								<div class="col-md-12" style="height: 24px; margin: 0px 0px 8px 0px;">
									<div class="row" style="background-color: #{{entity.color2}}; border: 2px solid #{{entity.color3}}">
										<div class="col-md-2" style="height: 24px;">
											<span style="font-size: 16px; font-weight: 700; color: #{{entity.color1}};">{{entity.name}}</span>
										</div>
										<div class="col-md-1 col-md-offset-1" style="height: 24px;">
											<p class="text-right">
												<span style="font-size: 16px; font-weight: 700; text-decoration: none; color: #{{entity.color1}}; cursor: pointer;" ng-init="quadRemain = (pool.total * juice) - ((entity.reservations + 4) * ticketCost)">
													<span ng-show="quadRemain >= 0" ng-init="singleCost = (((((entity.total / entity.reservations) / 2) * ticketFactor) / 2) * ticketFactor).toFixed(2)" ng-click="reserve(pool.id, entity.id, 1, singleCost, entity.name)">{{singleCost}}</span>
													<span ng-show="quadRemain < 0" ng-init="singleCost = ((((((entity.total / entity.reservations) * 5) / 2) * ticketFactor) / 2) * ticketFactor).toFixed(2)"  ng-click="reserve(pool.id, entity.id, 1, singleCost, entity.name)">{{singleCost}}</span>
												</span>
											</p>
										</div>
										<div class="col-md-1 col-md-offset-1" style="height: 24px;">
											<p class="text-right">
												<span style="font-size: 16px; font-weight: 700; text-decoration: none; color: #{{entity.color1}}; cursor: pointer;" ng-init="quadRemain = (pool.total * juice) - ((entity.reservations + 4) * ticketCost)">
													<span ng-show="quadRemain >= 0" ng-init="doubleCost = (((entity.total / entity.reservations) / 2) * ticketFactor).toFixed(2)" ng-click="reserve(pool.id, entity.id, 2, doubleCost, entity.name)">{{doubleCost}}</span>
													<span ng-show="quadRemain < 0" ng-init="doubleCost = ((((entity.total / entity.reservations) * 5) / 2) * ticketFactor).toFixed(2)" ng-click="reserve(pool.id, entity.id, 2, doubleCost, entity.name)">{{doubleCost}}</span>
												</span>
											</p>
										</div>
										<div class="col-md-1 col-md-offset-1" style="height: 24px;">
											<p class="text-right">
												<span style="font-size: 16px; font-weight: 700; text-decoration: none; color: #{{entity.color1}}; cursor: pointer;" ng-init="quadRemain = (pool.total * juice) - ((entity.reservations + 4) * ticketCost)">
													<span ng-show="quadRemain >= 0" ng-init="quadCost = (entity.total / entity.reservations).toFixed(2)" ng-click="reserve(pool.id, entity.id, 4, quadCost, entity.name)">{{quadCost}}</span>
													<span ng-show="quadRemain < 0" ng-init="quadCost = ((entity.total / entity.reservations) * 5).toFixed(2)" ng-click="reserve(pool.id, entity.id, 4, quadCost, entity.name)">{{quadCost}}</span>
												</span>
											</p>
										</div>
										<div class="col-md-2 col-md-offset-1" style="height: 24px;">
											<p class="text-center">
												<span style="font-size: 16px; font-weight: 700; text-decoration: none; color: #{{entity.color1}};" ng-click="">
													Reserve Now!
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
		</div>
	</div>
</div>
