<ul id="fms-modules-grid" ng-cloak>
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-6 col-md-offset-3">
					<div class="row" id="aboutStoryHead">
						<h3>Tickets Tycoon, Inc.</h3>
					</div>
					<div class="row" id="aboutStoryBody" manage-height>
						<span>
							Tickets Tycoon, Inc. is a premier reservation site 
							for sports championship tickets - including pro 
							football, pro basketball, pro baseball, and pro 
							hockey. Participants can secure championship 
							tickets for pennies on the dollar to watch their 
							favorite team play - LIVE!<br/><br/>
							If you have any questions about this service, our
							affiliate program, or any questions regarding your
							account, please contact us.<br/><br/>
							Email: Info@TicketsTycoon.com
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>
