<ul id="fms-modules-grid" ng-cloak>
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-3">
					<div class="row" id="aboutStoryHead">
						<h3>Tickets Tycoon, Inc.</h3>
					</div>
					<div class="row" id="aboutStoryBody" manage-height>
						<span>Phone:</span><br/>
						<span>307-258-1099</span><br/><br/>
						<span>Email:</span><br/>
						<span>info@ticketstycoon.com</span><br/><br/>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>
