<div class="col-md-12">

	<!--
	<div tour placement="top" template-url="/templates/tour-example.html">
		<div tour-step>
			Test
		</div>
	</div>
	-->

	<div class="row" id="homeMain">
		<div 
			class="col-md-6 col-md-offset-3 contentGreyBg"
			style="top: 8px;"
		>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div 
							class="col-md-3 {{championship.sportTab}}" 
							id="{{championship.id}}" 
							ng-repeat="championship in championshipData" 
							track by $index
						>
							<span 
								class="sportTabHeading reservationYellow" 
								ng-click="showTab(championship.id)"
							>
								{{championship.league}}
							</span>
						</div>
					</div>
					<br/>
					<div class="row">
						<div 
							class="col-md-12"
							ng-show="tabShow === '{{championship.id}}'"
							id="{{championship.id}}" 
							ng-repeat="championship in championshipData" 
							track by $index
						>
							<div class="row">
								<div 
									class="col-md-6" 
									ng-repeat="pool in championship.pools"
								>
									<div class="row">
										<div class="col-md-12">
											<span class="homeWidgetPoolHeading">
												{{pool.name}}
											</span>
										</div>
									</div>
									<br/>
									<div 
										class="row" 
										id="reservation.id"
										ng-repeat="reservation in pool.hotReservations"
									>
										<div class="col-md-8">
											<span 
												class="homeWidgetReservationName reservationYellow" 
												style="cursor: pointer;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												{{reservation.name}} {{reservation.mascot}}
											</span>
										</div>
										<div 
											class="col-md-4" style="text-align: right;" 
										>
											<span 
												class="homeWidgetReservationCost reservationYellow"
												style="cursor: pointer;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												${{reservation.cost}}
											</span>
										</div>
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-12" style="text-align: center;">
									<span 
										class="homeWidgetPoolHeading reservationYellow" 
										style="cursor: pointer;"
										ng-click="showChampionship(championship.id)"
									>
										Click here to view all {{championship.league}} reservations
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
