<div class="col-md-12" ng-show="bigScreen">
	<div id="darkness" class="darkness">
	</div>
	<div class="row" id="homeMain">
		<div 
			class="col-md-6 col-md-offset-3 contentGreyBg"
			style="top: 8px;"
		>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div 
						class="row" 
						style="z-index: 1045;"
						ng-show="tourStep == 3"
					>
						<div 
							class="col-md-3 {{championship.sportTab}}" 
							style="z-index: 1045;"
							id="{{championship.id}}" 
							ng-repeat="championship in championshipData" 
							track by $index
						>
							<span 
								class="sportTabHeading reservationYellow" 
								style="z-index: 1045;"
								ng-click="showTab(championship.id)"
							>
								{{championship.league}}
							</span>
						</div>
						<div 
							ng-show="tourStep == 3"
							class="samTour003"
						>
							<div class="samTourHead">
								<span class="samTourHeading">
									Choose Your League
								</span>
							</div>
							<br/>
							<div class="samTourBody">
								<p class="samTourContent">
									Want to watch your favorite football team
									play in the Super Bowl? Maybe the World Series
									is your thing? Start here by selecting the
									championship event!
								</p>
							</div>
							<br/>
							<div class="samTourNav">
								<button type="button" class="btn btn-primary btn-xs pull-left" ng-click="tourDown()">
									<i class="fa fa-reply"></i> &nbsp; Previous
								</button>
								<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="tourUp()">
									<i class="fa fa-mail-forward"></i> &nbsp; Next
								</button>
							</div>
						</div>
					</div>
					<div class="row" ng-show="tourStep != 3">
						<div 
							class="col-md-3 {{championship.sportTab}}" 
							id="{{championship.id}}" 
							ng-repeat="championship in championshipData" 
							track by $index
						>
							<span 
								class="sportTabHeading reservationYellow" 
								ng-click="showTab(championship.id)"
							>
								{{championship.league}}
							</span>
						</div>
						<div 
							ng-show="tourStep == 3"
							class="samTour003"
						>
							<div class="samTourHead">
								<span class="samTourHeading">
									Choose Your League
								</span>
							</div>
							<br/>
							<div class="samTourBody">
								<p class="samTourContent">
									Want to watch your favorite football team
									play in the Super Bowl? Maybe the World Series
									is your thing? Start here by selecting the
									championship event!
								</p>
							</div>
							<br/>
							<div class="samTourNav">
								<button type="button" class="btn btn-primary btn-xs pull-left" ng-click="tourDown()">
									<i class="fa fa-reply"></i> &nbsp; Previous
								</button>
								<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="tourUp()">
									<i class="fa fa-mail-forward"></i> &nbsp; Next
								</button>
							</div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div 
							class="col-md-12"
							ng-show="tabShow === '{{championship.id}}'"
							id="{{championship.id}}" 
							ng-repeat="championship in championshipData" 
							track by $index
						>
							<div class="row">
								<div 
									class="col-md-6" 
									ng-repeat="pool in championship.pools"
								>
									<div 
										class="row"
										style="z-index: 1045;"
										ng-show="tourStep == 4"
									>
										<div 
											class="col-md-12"
											style="z-index: 1045;"
										>
											<span 
												class="homeWidgetPoolHeading"
												style="z-index: 1045;"
											>
												{{pool.name}}
											</span>
										</div>
									</div>
									<div 
										class="row"
										ng-show="tourStep != 4"
									>
										<div 
											class="col-md-12"
										>
											<span class="homeWidgetPoolHeading">
												{{pool.name}}
											</span>
										</div>
									</div>
									<br/>
									<div 
										class="row" 
										style="z-index: 1045;"
										id="reservation.id"
										ng-repeat="reservation in pool.hotReservations"
										ng-show="tourStep == 4"
									>
										<div 
											class="col-md-8"
											style="z-index: 1045;"
										>
											<span 
												class="homeWidgetReservationName reservationYellow" 
												style="cursor: pointer; z-index: 1045;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												{{reservation.name}} {{reservation.mascot}}
											</span>
										</div>
										<div 
											class="col-md-4" 
											style="text-align: right; z-index: 1045;" 
										>
											<span 
												class="homeWidgetReservationCost reservationYellow"
												style="cursor: pointer; z-index: 1045;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												${{reservation.cost}}
											</span>
										</div>
									</div>
									<div 
										class="row" 
										id="reservation.id"
										ng-repeat="reservation in pool.hotReservations"
										ng-show="tourStep != 4"
									>
										<div class="col-md-8">
											<span 
												class="homeWidgetReservationName reservationYellow" 
												style="cursor: pointer;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												{{reservation.name}} {{reservation.mascot}}
											</span>
										</div>
										<div 
											class="col-md-4" style="text-align: right;" 
										>
											<span 
												class="homeWidgetReservationCost reservationYellow"
												style="cursor: pointer;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												${{reservation.cost}}
											</span>
										</div>
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-12" style="text-align: center;">
									<div 
										ng-show="tourStep == 4"
										class="samTour004"
									>
										<div class="samTourHead">
											<span class="samTourHeading">
												Current Inexpensive Reservations
											</span>
										</div>
										<br/>
										<div class="samTourBody">
											<p class="samTourContent">
												Here you can see a handful of the least 
												expensive reservations for the championship 
												event that you chose. They are organized by 
												league/conference, starting with the least 
												expensive on top.
											</p>
										</div>
										<br/>
										<div class="samTourNav">
											<button 
												type="button" 
												class="btn btn-primary btn-xs pull-left"
												style="top: -22px; position: relative;"
												ng-click="tourDown()"
											>
												<i class="fa fa-reply"></i> &nbsp; Previous
											</button>
											<button 
												type="button" 
												class="btn btn-primary btn-xs pull-right" 
												style="top: -22px; position: relative;"
												ng-click="tourUp()"
											>
												<i class="fa fa-mail-forward"></i> &nbsp; Next
											</button>
										</div>
									</div>
									<span 
										class="homeWidgetPoolHeading reservationYellow" 
										style="cursor: pointer;"
										ng-click="showChampionship(championship.id)"
									>
										Click here to view all {{championship.league}} reservations
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div 
				ng-show="tourStep == 2"
				class="samTour002"
			>
				<div class="samTourHead">
					<span class="samTourHeading">
						You Found Us!
					</span>
				</div>
				<br/>
				<div class="samTourBody">
					<p class="samTourContent">
						Now we'll show you how to secure tickets to the 
						Super Bowl, World Series, Stanley Cup Finals, 
						NBA Finals, NCAA Basketball National Championship 
						and NCAA Football National Championship!
					</p>
				</div>
				<br/>
				<div class="samTourNav">
					<button 
						type="button" 
						class="btn btn-danger btn-xs pull-left" 
						ng-click="tourEnd()"
						style="font-size: 12px!important; font-weight: 500!important;"
					>
						<i class="fa fa-times"></i> &nbsp; I'm No Rookie - I Got This!
					</button>
					<button 
						type="button" 
						class="btn btn-primary btn-xs pull-right" 
						ng-click="tourUp()"
					>
						<i class="fa fa-mail-forward"></i> &nbsp; Cool - Let's Go!
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12 col-xs-12" ng-show="!bigScreen">
	<div class="row" id="homeMain">
		<div 
			class="contentGreyBgSm"
		>
			<div class="row">
				<div 
					class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2"
					style="text-align: center;"
				>
					<span class="contentHeadingSm">Championship Tickets</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-xs-10 col-sm-offset-1 col-xs-offset-1">
					<div class="row" ng-repeat="championship in championshipData">
						<div 
							class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3 sportTabLeftSm"
							id="{{championship.id}}" 
							track by $index
						>
							<span 
								class="sportTabHeading reservationYellow" 
								ng-click="showTab(championship.id)"
							>
								{{championship.league}}
							</span>
						</div>
					</div>
					<br/>
					<div class="row">
						<div 
							class="col-sm-12 cols-xs-12"
							ng-show="tabShow === '{{championship.id}}'"
							id="{{championship.id}}" 
							ng-repeat="championship in championshipData" 
							track by $index
						>
							<div class="row">
								<div 
									class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2" 
									style="text-align: center;"
								>
									<span class="contentHeadingLg">{{championship.league}}</span>
								</div>
							</div>
							<br/>
							<div class="row">
								<div 
									class="col-sm-6 col-xs-6" 
									ng-repeat="pool in championship.pools"
								>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<span class="homeWidgetPoolHeading">
												{{pool.name}}
											</span>
										</div>
									</div>
									<div 
										class="row" 
										id="reservation.id"
										ng-repeat="reservation in pool.hotReservations"
									>
										<div 
											class="col-sm-8 col-xs-8"
											style="padding: 0px!important;"
										>
											<span 
												class="homeWidgetReservationNameSm reservationYellow" 
												style="cursor: pointer;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												{{reservation.name}} {{reservation.mascot}}
											</span>
										</div>
										<div 
											class="col-sm-4 col-xs-4" 
											style="
												text-align: right; 
												padding-left: 0px!important;
												padding-right: 8px!important;
											"
										>
											<span 
												class="homeWidgetReservationCostSm reservationYellow"
												style="cursor: pointer;"
												ng-click="showReservation(championship.id+'-'+reservation.id)"
											>
												${{reservation.cost}}
											</span>
										</div>
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-12 cols-xs-12" style="text-align: center;">
									<span 
										class="homeWidgetPoolHeading reservationYellow" 
										style="cursor: pointer;"
										ng-click="showChampionship(championship.id)"
									>
										Click here to view all {{championship.league}} reservations
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
