<ul id="fms-modules-grid" ng-cloak>
	<div class="row" id="aboutMain" style="padding-bottom: 80px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<span class="aboutHead">
						Terms of Service
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<span class="aboutBasic">
						<a href="/documents/TicketsTycoonTOS.pdf" class="linkBasic" target="_blank">Click here to view the Tickets Tycoon TOS</a>
					</span>
				</div>
			</div>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<span class="aboutHead">
						Privacy Policy
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<span class="aboutBasic">
						<a href="/documents/TicketsTycoonPrivacyPolicy.pdf" class="linkBasic" target="_blank">Click here to view the Tickets Tycoon Privacy Policy</a>
					</span>
				</div>
			</div>
    </div>
  </div>
</ul>
